# Quality Assessment
## comparing `orderlines.unit_price` with `products.price`

In [24]:
import pandas as pd

# orders_cl.csv
orders_qlty = pd.read_csv('quality_orders_df.csv')

# orderlines_cl.csv
orderlines_qlty = pd.read_csv('quality_orderlines_df.csv')

# products_cl.csv
products_qlty = pd.read_csv('quality_products_df.csv')

In [25]:
orderlines_qlty["date"] = pd.to_datetime(orderlines_qlty["date"])
orders_qlty["created_date"] = pd.to_datetime(orders_qlty["created_date"])

In [27]:
orderlines_qlty.info()
orders_qlty.info()
products_qlty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53231 entries, 0 to 53230
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                53231 non-null  int64
 1   id_order          53231 non-null  int64
 2   product_id        53231 non-null  int64
 3   product_quantity  53231 non-null  int64
 4   sku               53231 non-null  object
 5   unit_price        53231 non-null  float64
 6   date              53231 non-null  datetime64[ns]
 7   unit_price_total  53231 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 3.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40985 entries, 0 to 40984
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      40985 non-null  int64
 1   created_date  40985 non-null  datetime64[ns]
 2   total_paid    40985 non-null  float64
 3   state         40985 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sku       9992 non-null   object
 1   name      9992 non-null   object
 2   desc      9992 non-null   object
 3   price     9992 non-null   float64
 4   in_stock  9992 non-null   int64
 5   type      9946 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 468.5+ KB

In [39]:
ord_df = orders_qlty.copy()
ol_df = orderlines_qlty.copy()
prod_df = products_qlty.copy()

## checking cleaned and quality assessed csv files

In [29]:
ord_df.isna().sum()

order_id        0
created_date    0
total_paid      0
state           0
dtype: int64

In [30]:
ol_df.isna().sum()

order_id        0
created_date    0
total_paid      0
state           0
dtype: int64

In [31]:
prod_df.isna().sum()

sku          0
name         0
desc         0
price        0
in_stock     0
type        46
dtype: int64

In [32]:
prod_df.loc[prod_df.type.isna()]

,sku,name,desc,price,in_stock,type
146,SAN0017,SanDisk Cruzer Edge USB 2.0 Flash Drive 16GB,Pendrive USB 2.0 Mac and PC.,8.00,0,NaN
362,SAN0026,SanDisk Extreme Cruzer 16GB USB 3.0 Flash Drive,USB 3.0 flash drive 16GB USB Mac and PC.,22.00,0,NaN
579,APP0675,Apple iPhone 5S 32GB Space Gray,New Free iPhone 5S 32GB (ME435Y / A).,559.00,0,NaN
956,APP0823,Apple iPhone 6 16GB Silver,New iPhone 6 16GB Free (MG482QL / A).,639.00,0,NaN
961,APP0829,Apple iPhone 6 Plus 16GB Silver,New iPhone 6 Plus 16G Free (MGA92QL / A).,749.00,0,NaN
962,APP0822,Apple iPhone 6 16GB Space Gray,New iPhone 6 16GB Free (MG472QL / A).,639.00,0,NaN
963,APP0825,Apple iPhone 6 64GB Space Gray,New iPhone 6 64GB Free (MG4F2QL / A).,749.00,0,NaN
964,APP0826,Apple iPhone 6 64GB Silver,New iPhone 6 64GB Free (MG4H2QL / A).,749.00,0,NaN
965,APP0828,Apple iPhone 6 Plus 16GB Space Gray,New 16GB iPhone 6 Plus Free (MGA82QL / A).,749.00,0,NaN
1042,APP0856,Apple iPhone 6 128GB Gold,New Free iPhone 6 128GB (MG4E2QL / A).,899.00,0,NaN
1043,APP0857,Apple iPhone 6 Plus 64GB Space Gray,New iPhone 6 Plus 64GB Free (MGAH2QL / A).,859.00,0,NaN
1044,APP0858,Apple iPhone 6 Plus 64GB Silver,New 64GB iPhone 6 Plus Free (MGAJ2QL / A).,859.00,0,NaN
1045,APP0860,Apple iPhone 6 Plus 128GB Space Gray,iPhone 6 Plus 128GB Free (MGAC2QL / A).,999.00,0,NaN
1382,PAC0602,Pack Synology DS1815 + + 40TB WD Red,Pack Synology DS1815 + + 40TB WD Red.,3059.99,0,NaN
1519,SAN0035,SanDisk Ultra 16GB SDHC Memory Card Class 10,16GB SDHC memory card.,14.00,0,NaN
2479,APP1166,Apple iPhone 6S 16GB Silver,New 16GB iPhone 6S Libre.,749.00,0,NaN
2518,ELG0014,Elgato Video Capture Mac,Mac USB analog video recorder hardware.,99.95,0,NaN
2553,APP1185,Apple iPhone 6S Plus 64GB Rose Gold,New iPhone 6S Plus 64GB Free.,969.00,0,NaN
2569,APP1167,Apple iPhone 6S 16GB Space Gray,New 16GB iPhone 6S Libre.,749.00,0,NaN
2570,APP1169,16GB Apple iPhone 6S Rose Gold,New 16GB iPhone 6S Libre.,749.00,0,NaN
2571,APP1170,Apple iPhone 6S 64GB Silver,New 64GB iPhone 6S Libre.,859.00,0,NaN
2573,APP1171,Apple iPhone 6S 64GB Space Gray,New 64GB iPhone 6S Libre.,859.00,0,NaN
2575,APP1172,Apple iPhone 6S 64GB Gold,New 64GB iPhone 6S Libre.,859.00,0,NaN
2577,APP1173,64GB Apple iPhone 6S Rose Gold,New 64GB iPhone 6S Libre.,859.00,0,NaN
2579,APP1178,Apple iPhone 6S Plus 16GB Silver,New iPhone 6S Plus 16GB Free.,859.00,0,NaN
2580,APP1179,Apple iPhone 6S Plus 16GB Space Gray,New iPhone 6S Plus 16GB Free.,859.00,0,NaN
2581,APP1180,Apple iPhone 6S Plus 16GB Gold,New iPhone 6S Plus 16GB Free.,859.00,0,NaN
2582,APP1181,Apple iPhone 6S Plus 16GB Rose Gold,New iPhone 6S Plus 16GB Free.,859.00,0,NaN
2583,APP1182,Apple iPhone 6S Plus 64GB Silver,New iPhone 6S Plus 64GB Free.,969.00,0,NaN
2584,APP1183,Apple iPhone 6S Plus 64GB Space Gray,New iPhone 6S Plus 64GB Free.,969.00,0,NaN
2585,APP1184,Apple iPhone 6S Plus 64GB Gold,New iPhone 6S Plus 64GB Free.,969.00,0,NaN
2586,APP1186,Apple iPhone 6s Plus 128GB Silver,New iPhone 6s Plus 128GB Libre.,749.00,0,NaN
2587,APP1187,Apple iPhone 6s Plus 128GB Space Gray,New iPhone 6s Plus 128GB Libre.,749.00,0,NaN
2588,APP1188,Apple iPhone 6s Plus 128GB Gold,New iPhone 6s Plus 128GB Libre.,749.00,0,NaN
2589,APP1189,Apple iPhone 6s Plus 128GB Rose Gold,New iPhone 6s Plus 128GB Libre.,749.00,0,NaN
2601,APP1168,Apple iPhone 6S 16GB Gold,New 16GB iPhone 6S Libre.,749.00,0,NaN
3102,APP1202,Apple iPad Wi-Fi 32GB Pro Plata,Pro New iPad 32GB Wi-Fi.,899.00,0,NaN
3866,APP1478,Apple iPhone 16GB Silver,New iPhone SE with 4 inch 16GB free.,489.00,0,NaN
3867,APP1479,Apple iPhone 16GB Gold,New iPhone SE with 4 inch 16GB free.,489.00,0,NaN
3868,APP1480,Apple iPhone 16GB Rose Gold,New iPhone SE with 4 inch 16GB free.,489.00,0,NaN
3870,APP1482,Apple iPhone 64GB Silver,New iPhone SE with 4-inch screen 64 free GB.,549.00,0,NaN
3871,APP1483,Apple iPhone 64GB Gold,New iPhone SE with 4-inch screen 64 free GB.,549.00,0,NaN
7032,PAC2056,Second hand - Apple Mac mini Core 2 Duo 226Ghz...,Computer Refurbished Mac mini Core i2 226GHz |...,599.00,0,NaN
9455,GTE0093-A,Open - G-Technology G-DRIVE HDD 7200rpm 4TB Th...,Hard disk refitted with 2 USB 3 and Thunderbol...,423.99,0,NaN
9536,DOD0010,Dodocool Sports Wireless Stereo Headphones Black,Wireless stereo headphones with remote control...,24.99,1,NaN
9793,SYN0173-A,Open - Synology DS218 + NAS server Mac and PC,NAS server storage refitted comprehensive spec...,344.99,0,NaN

## try compare `orderlines.unit_price` with `products.price`

In [40]:
ol_df.info(), prod_df.info(), ord_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53231 entries, 0 to 53230
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                53231 non-null  int64
 1   id_order          53231 non-null  int64
 2   product_id        53231 non-null  int64
 3   product_quantity  53231 non-null  int64
 4   sku               53231 non-null  object
 5   unit_price        53231 non-null  float64
 6   date              53231 non-null  datetime64[ns]
 7   unit_price_total  53231 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 3.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sku       9992 non-null   object
 1   name      9992 non-null   object
 2   desc      9992 non-null   object
 3   price     9992 non-null   float64
 4   in_stock  9992 non-null   int64
 5   type      9946 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 468.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40985 entries, 0 to 40984
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      40985 non-null  int64
 1   created_date  40985 non-null  datetime64[ns]
 2   total_paid    40985 non-null  float64
 3   state         40985 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 1.3+ MB

(None, None, None)

In [41]:
ol_df

,id,id_order,product_id,product_quantity,sku,unit_price,date,unit_price_total
0,1119116,299545,0,1,OWC0100,47.49,2017-01-01 01:46:16,47.49
1,1119119,299546,0,1,IOT0014,18.99,2017-01-01 01:50:34,18.99
2,1119120,295347,0,1,APP0700,72.19,2017-01-01 01:54:11,72.19
3,1119134,299556,0,1,CRU0039-A,60.90,2017-01-01 02:20:14,60.90
4,1119145,299561,0,1,PEB0015,142.49,2017-01-01 02:38:50,142.49
...,...,...,...,...,...,...,...,...
53226,1649447,527035,0,1,APP0698,9.99,2018-03-14 11:42:41,9.99
53227,1649512,527070,0,2,APP0698,9.99,2018-03-14 11:49:01,19.98
53228,1649522,527074,0,2,APP0698,9.99,2018-03-14 11:49:36,19.98
53229,1649565,527096,0,3,APP0698,9.99,2018-03-14 11:54:35,29.97
53230,1649593,527112,0,1,APP0698,9.99,2018-03-14 11:58:13,9.99

In [42]:
prod_df

,sku,name,desc,price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59.00,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59.00,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25.00,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,1,1364
...,...,...,...,...,...,...
9987,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,1,12282
9988,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,1,1392
9989,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,1,1392
9990,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,0,1392
9991,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,1,1392